.App {
  text-align: center;
}

a {
  text-decoration: none;
}

.App-header {
  background-color: #111;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-logo {
  color: #a2d2ff;
  text-decoration: none;
  text-align: left;
  font-family: fantasy;
  font-size: 2em;
  animation-name: App-logo-spin;
  animation-duration: 3.3s;
}
